extends layouts/LayoutTheme
include mixins/navbar/NavbarOnePage
include mixins/headers/SemticHeaderTyped
include mixins/headers/Mixin
include mixins/pages/service/Services
include mixins/pages/service/Performance
include mixins/pages/WhyChooseUs
include mixins/pages/NoWorries
include mixins/pages/service/Process
include mixins/pages/CtaStartNewProject
include mixins/pages/work/Mixin
include mixins/pages/CtaWorks
include mixins/pages/blog/BlogGrid
include mixins/pages/blog/Mixin
include mixins/pages/ContactShort

append variables
  - var Navbar = false;
  - var attrsBody = { 'data-bs-spy': 'scroll', 'data-bs-target': '#navbar-one-page', 'data-bs-offset': 66.1 };
  - var language = 'en'

prepend styles
  link(href=`${CWD}vendors/swiper/swiper-bundle.min.css`, rel='stylesheet')

prepend scripts 
  script(src=`${CWD}vendors/bigpicture/BigPicture.js`)
  script(src=`${CWD}vendors/countup/countUp.umd.js`)
  script(src=`${CWD}vendors/progressbar/progressbar.min.js`)
  script(src=`${CWD}vendors/hover-dir/hoverDir.min.js`)
  script(src=`${CWD}vendors/isotope-layout/isotope.pkgd.min.js`)
  script(src=`${CWD}vendors/isotope-packery/packery-mode.pkgd.min.js`)
  script(src=`${CWD}vendors/swiper/swiper-bundle.min.js`)
  script(src=`${CWD}vendors/typed.js/typed.js`)
  script(src!=`https://maps.googleapis.com/maps/api/js?key=${APIGmap}&callback=initMap` async)


append mainContent
  +NavbarOnePage(language)
  +SemticHeaderTyped('header-7', language)
  +Services('Our Services', language)#services
  +Performance(language)#performance
  +WhyChooseUs(language)#whyus
  +NoWorries(language)#noworries
  +Process(language)#process
  +CtaStartNewProject(language)
  //- +RecentProjects(true, 'container-fluid', language)#projects
  //- //- TODO: change recent projects to example projects
  //- +CtaWorks
  //- TODO: add back when example projects are ready
  //- +BlogGrid(true)#blog TODO: add back when there are posts to show
  +ContactShort(language)#contact




