mixin Performance
	+Section({
		image: `${CWD}assets/img/backgrounds/performance-bg.jpg`,
		className: "overlay overlay-1",
		attrs: {
			style: 'background-position: top;'
		}
	}).py-6
		.row
			.col-12.mb-4.text-center(data-zanim-timeline!={} data-zanim-trigger='scroll')
				.overflow-hidden
					h2.fs-md-5.text-white(data-zanim-xs!={'duration': 1.5,'delay': 0}) AI at work
				.overflow-hidden
					p.fs--1.text-uppercase.text-white.ls-1.mb-0(data-zanim-xs!={'duration': 1.5,'delay': 0.1}) AI Assistants users love working with them
				.overflow-hidden
					hr.hr-short.bg-white(data-zanim-xs!={'duration': 1.5,'delay': 0.2})

			.col-lg-6.px-4.px-sm-3.px-lg-5.mb-4.mb-md-5.mb-lg-0(style="padding-top: 5px;")
				.progress-line.text-white(data-progress-line data-options!={progress: 88})
					p.mb-0.text-start More productive
				.progress-line.text-white(data-progress-line data-options!={progress: 74})
					p.mb-0.text-start Can focus on more satisfying work
				.progress-line.text-white(data-progress-line data-options!={progress: 77})
					p.mb-0.text-start Spend less time searching for information
	
				
			.col-lg-6.px-lg-4
				ul#myTab.nav.nav-tabs(role='tablist')
					li.nav-item
						a#home-tab.nav-link.fs-0.text-white.ls-1.active(data-bs-toggle='tab', href='#tab-home', role='tab', aria-controls='tab-home', aria-selected='true') ROI
					li.nav-item
						a#profile-tab.nav-link.fs-0.text-white.ls-1(data-bs-toggle='tab', href='#tab-profile', role='tab', aria-controls='tab-profile', aria-selected='false') Adoption
					li.nav-item
						a#contact-tab.nav-link.fs-0.text-white.ls-1l(data-bs-toggle='tab', href='#tab-contact', role='tab', aria-controls='tab-contact', aria-selected='false') Economy
				#myTabContent.tab-content.pt-4
					#tab-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
						.d-flex.align-items-center
							img(src=`${CWD}assets/img/line-icons/bar-chart-1-white.svg`, width=56 alt="")
							.flex-1.ms-3.text-light
								| The percentage of companies seeing returns on their AI investments has greatly increased from 2017 to 2023, reaching 92.1% from 48.1%.
								br
								br
								| 70% of CEOs who have successfully integrated AI into their operations have witnessed a near-instant ROI.
					#tab-profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
						.d-flex.align-items-center
							img(src=`${CWD}assets/img/line-icons/monitor.svg`, width=56 alt="")
							.flex-1.ms-3.text-light
								| 91% of leading global companies are continuously investing in the AI industry
								br
								br
								| 80% of CEOs intend to incorporate AI technologies into their business operations within two years
								br
								br
					#tab-contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') 
						.d-flex.align-items-center
							img(src=`${CWD}assets/img/line-icons/money.svg`, width=56 alt="")
							.flex-1.ms-3.text-light
								| AI is estimated to contribute $15.7 trillion to the global economy by 2030
								br
								br
								| AI market size is expected to grow to $1,345.2 billion by 2030
								br
								br
								br
				.text-center.text-lg-start
					a(href=`${CWD}pages/work.html`).btn.btn-outline-light.hvr-sweep-top.btn-sm.mt-5.mt-lg-4.mb-2 Our Latest Works