append variables 
  -
    var galleries= [
      {
        id:'collapse-1',
        image:'g1.jpg',
        title:'GILLIAN WEARING',
        text:'Since the beginning of her career, Gillian Wearing has drawn from techniques of theatre, reality television, and fly-on-the-wall documentary-making to construct narratives that explore personal fantasies and confessions, individual traumas, cultural histories.',
        next:'collapse-2',
        prev:'!',
      },
      {
        id:'collapse-2',
        image:'g2.jpg',
        title:'CATHERINE OPIE',
        text:'Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.',
        next:'collapse-3',
        prev:'collapse-1',
      },
      {
        id:'collapse-3',
        image:'g3.jpg',
        title:'CHRISTOPHER WOOL',
        text:'Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.',
        next:'collapse-4',
        prev:'collapse-2',
      },

    ];

mixin GalleryContent(config)
  .row.align-items-center
    .thumbnail-grid-navigation
      a(href="#!").thumbnail-close
        i.fas.fa-times
      a(href='#!' data-grid-target=`#${config.prev}` data-thumbnail-grid-nav).thumbnail-grid-nav.prev
        i.fas.fa-angle-left
      a(href='#!' data-grid-target=`#${config.next}` data-thumbnail-grid-nav).thumbnail-grid-nav.next
        i.fas.fa-angle-right
    .col-7
      .d-none.d-lg-block.p-0
        img(src=`${CWD}assets/img/gallery/${config.image}` alt="").w-100.img-fluid.rounded
    .col-lg-5
      h5.ls-1=config.title
      p=config.text
      a(href="#!").btn.btn-outline-dark.btn-sm.hvr-sweep-top.hover-color-white.mt-2 Visit Website
//- TODO: Make the whole thing clickable not just the icon
mixin ServiceItem(config, galleryConfig)
  .col-sm-6.col-lg-4(data-zanim-timeline!={} data-zanim-trigger="scroll").thumbnail-grid-item
    .overflow-hidden
      .service-item.p-3.p-md-4.h-100(data-bs-toggle='collapse' data-bs-target=`#${config.id}` aria-expanded='false' aria-controls=`${config.id}`)
        .overflow-hidden
          .px-4(data-zanim-xs!={'duration': 1.5,'delay': `${config.delay}`})
            img(src=`${CWD}assets/img/line-icons/icons/${config.img}.svg` alt='').service-icon
        .overflow-hidden
          h5.fw-normal.ls-3.mb-2(data-zanim-xs!={'duration': 1.5,'delay': `${config.delay + 0.1}`})=config.title
        .overflow-hidden
          p.fw-normal(data-zanim-xs!={'duration': 1.5,'delay': `${config.delay + 0.2}`})!=config.description
    .position-absolute.start-0
      .collapse.thumbnail-grid-content( data-bs-parent="#selector" id=`${config.id}`)
        .card.card-body.border-0.bg-100.m-1.px-4
          +GalleryContent(galleryConfig)
              
mixin Services(title)
  +Section.text-center&attributes(attributes)
    if title
      .row.mb-4(data-zanim-timeline!={} data-zanim-trigger='scroll')
        .col
          .overflow-hidden
            h2.fs-md-5(data-zanim-xs!={'duration': 1.5,'delay': 0}) Our Services
          .overflow-hidden
            p.fs--1.text-uppercase.text-black.ls-1.mb-0(data-zanim-xs!={'duration': 1.5,'delay': 0.1}) The AI revolution is upon us - let us take your company into the new era
          .overflow-hidden
            hr.hr-short.bg-black.opacity-100(data-zanim-xs!={'duration': 1.5,'delay': 0.2})
    .row.g-2.position-relative.thumbnail-grid-container#selector
      +ServiceItem({
        id:'collapse-1',
        img: "black-bubble-speech", 
        title: "AI assistants", 
        description: 'Harness the latest LLM-powered AI assistants, custom-tailored for your company. With access to internal data and systems, our assistants provide personalized support for clients and employees 24/7.', 
        delay: 0,
        link: "ai-assistant" ,
      }, galleries[0])
      +ServiceItem({
        id:'collapse-2',
        img: "object", 
        title: "Knowledge Bases", 
        description: "Empower your data with meaning and structure. Our AI-driven knowledge base consolidates your company's data, granting instant access to any information you require, right at your fingertips.", 
        delay: 0.2,
        link: "ai-assistant" 
      }, galleries[1])
      +ServiceItem({
        id:'collapse-3',
        img: "network", 
        title: "AI Agents", 
        description: "Experience cutting-edge autonomous automation with AI Agents. They intelligently analyze data, make decisions, and seamlessly interact with systems. Witness the ease and power of automation like never before.",
        delay: 0.3,
        link: "ai-assistant"
      }, galleries[2])