mixin NavbarOnePage(language)
  if language == 'en'
    -
      var lang_versions = {
        'services': 'Services',
        'whyus': 'Why Us',
        'process': 'Our Process',
        'contact': 'Contact',
        'change_language': 'pl',
        'change_language_path': `${CWD}pl/index.html`
      }
  else if language == 'pl'
    -
      var lang_versions = {
        'services': 'Usługi',
        'whyus': 'Dlaczego My',
        'process': 'Nasz Proces',
        'contact': 'Kontakt',
        'change_language': 'en',
        'change_language_path': `${CWD}index.html`
      }
  nav.navbar.navbar-expand-lg.navbar-dark.navbar-theme.fixed-top.py-0(data-navbar-on-scroll)
    .container
      a.navbar-brand.fw-normal.ls-2(href=`${CWD}index.html`)
        img(src=`${CWD}assets/img/logo/SEMTIC-logo-negative-white.svg`, alt="Semtic AI", width="100px")
      //- a.navbar-brand.fw-normal.ls-2(href=`${CWD}index.html`)
      //-   | Semtic AI
      button.navbar-toggler.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .collapse.navbar-collapse(id="navbarSupportedContent")
        ul.navbar-nav.ms-auto#navbar-one-page
          li.nav-item
            a.nav-link(href="#services") 
              span.nav-link-text
                +cleanText(lang_versions['services'])
          li.nav-item
            a.nav-link(href="#whyus") 
              span.nav-link-text
                +cleanText(lang_versions['whyus'])
          li.nav-item
            a.nav-link(href="#process") 
              span.nav-link-text
                +cleanText(lang_versions['process'])             
          //- li.nav-item
          //-   a.nav-link(href="#projects") 
          //-     span.nav-link-text
          //-       +cleanText('Examples')
          li.nav-item
            a.nav-link(href="#contact") 
              span.nav-link-text
                +cleanText(lang_versions['contact'])
          li.nav-item
            a.nav-link(href=lang_versions['change_language_path']) 
              span.nav-link-text
                +cleanText(lang_versions['change_language'])
